/* define global css that shares by components */
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  background-color: rgb(52, 51, 51);
  position: relative;
}

/* popUp js -- information for session expiry */
.popUp {
  position: absolute;
  width: 400px;
  height: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(126, 126, 126);
  top: 45%;
  left: 50%;
  margin-left: -200px;
  margin-top: -150px;
  box-shadow: 1px 1px 2px rgb(103, 102, 102);
  z-index: 2;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.673),
      rgba(255, 253, 253, 0.666)
    ),
    url("https://image.freepik.com/free-vector/student-using-laptop-library_74855-2539.jpg");
  background-repeat: no-repeat;
  animation: dialogue 6s ease-in-out 2s alternate infinite;
}

@keyframes dialogue {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-7px);
  }

  100% {
    transform: translateY(0px);
  }
}

.popTitle{
  font-size: 1.8rem;
  margin: 10px auto;
  color: rgb(21, 219, 233);
  text-shadow: 1px 1px 0px rgb(65, 64, 64);
}

.popLinkWrap{
  width: 100%;
  height: 15%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.popUplinkTag {
  margin: 0;
  width: 25%;
  height: 100%;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 20px;
  background-color: rgb(62, 143, 242);
  color: white;
}

.container {
  width: 95vw;
  height: 100vh;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapCtn {
  width: 100%;
  height: 75vh;
  margin-top: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  min-width: 300px;
  height: 55%;
  padding-bottom: 10%;
  margin-top: 20px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  margin: 15px auto;
  width: 100%;
  line-height: 1rem;
  padding: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
}

input:focus,
button:focus {
  outline: none;
}

/* in card.js: cards  with id selector */
div#card-one {
  left: 0;
  z-index: -1;
  transform: rotate(15deg);
}

div#card-two {
  transform: rotate(8deg);
  left: 32%;
  z-index: 1;
}

div#card-three {
  left: 60%;
  transform: rotate(-10deg);
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
  box-shadow: 2px 0px 8px rgb(60, 60, 60);
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(even) {
  background: #7a8485;
}

/* in Todo.js: to control check effect with check variable in the class */
/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: rgb(88, 64, 123);
  text-decoration: line-through rgb(245, 244, 244);
}

ul li.checked::before {
  content: "";
  position: absolute;
  border-color: rgba(199, 198, 198, 0.214);
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
  z-index: 2;
}

ul li.checked::after {
  border-color: rgb(199, 253, 255);
  box-shadow: 1px 1px 1px black;
}

/* in Login.js & Register.js */
.userHeadIcon {
  height: 10rem;
  width: 10rem;
  padding: 7px;
  margin-bottom: 5px;
  color: rgb(220, 220, 220);
  background-color: rgb(0, 134, 167);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgb(131, 154, 159);
  box-shadow: 2px 2px 2px rgb(74, 72, 72);
}

.userIcon {
  color: rgb(254, 254, 254);
  animation: user 10s ease-in-out 2s alternate infinite;
  margin-right: 5px;
  position: relative;
}

@keyframes user {
  0% {
    color: rgb(60, 108, 230);
  }
  25% {
    color: rgb(64, 255, 80);
  }
  50% {
    color: rgb(175, 82, 250);
  }
  75% {
    color: rgb(249, 252, 61);
  }
}

.links {
  margin: 0 10px;
  text-decoration: none;
  color: rgb(30, 148, 245);
}

/* password showing control icon */
.eyeIcon {
  font-size: 1.2rem;
  position: absolute;
  top: 40%;
  right: 3%;
}



/* in Footer.js */
.footer {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8rem;
  color: lightgrey;
}

.footer span a {
  color: lightgrey;
  text-decoration: none;
}
